* {
 margin: 0;
 padding: 0;
 overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}
.bg {
 filter: sepia(30);
 background-image: url('https://images.unsplash.com/photo-1611416517780-eff3a13b0359?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
}

h1 {
 background-color: white;
 mix-blend-mode: screen;
 box-sizing: border-box;
 font-family: tahoma;
 font-size: calc(2rem + 9.24vw);
 font-weight: 700;
 letter-spacing: -0.15rem;
 line-height: 0.9;
 text-align: right;
 text-transform: uppercase;
}

.content {
 box-sizing: border-box;
 padding: 0 1rem 1rem;
 width: 45vw;
 height: 100%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.text {
  height: 100vh;
  width: auto;
 } 


@media(min-width: 320px) {
 .content {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 82vw;
 }
}

@media(min-width: 640px) {
 .content {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 40vw;
 }
}
